@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EventModel

@{
    ViewData["Title"] = "EditEvent";
}

<div class="container">
    <h1 class="text-info font-weight-bold">Edit Event</h1>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <form method="post" asp-action="EditEvent"asp-controller="Event">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EventId" class="control-label"></label>
                    <input asp-for="EventId" class="form-control" disabled />
                    <span asp-validation-for="EventId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventType"></label>
                    <div class="form-check">
                        <input asp-for="EventType" class="form-check-input" type="radio" value="public">
                        <label class="form-check-label">
                            Public
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="EventType" class="form-check-input" type="radio" value="private">
                        <label class="form-check-label">
                            Private
                        </label>
                    </div>
                    <span asp-validation-for="EventType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label"></label>
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OtherDetails" class="control-label"></label>
                    <input asp-for="OtherDetails" class="form-control" />
                    <span asp-validation-for="OtherDetails" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InviteEmails" class="control-label"></label>
                    <input asp-for="InviteEmails" class="form-control" />
                    <span asp-validation-for="InviteEmails" class="text-danger"></span>
                </div>
                <input asp-for="Organiser" class="form-control" type="hidden" value="@User.Identity.Name" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


